/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons';

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .form {
    max-width: 720px;
    margin: auto;
  }
}

.form, .container {
    padding: 10px;
}

.button {
  margin-top: 10px;
  text-align: right;
}

.icon:hover>i {
  cursor: pointer;
  color: black !important;
}

.mat-tab-label {
    font-weight: 700!important;
}